* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  color: #575757;
  background: #fafafa;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #575757;
}

section {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  padding: 0px 10%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 5%;
  }
}

section .content-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 30px;
}

section .content-left h4 {
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 50px;
}

section .content-left h3 {
  margin-top: 20px;
  margin-right: 10px;
  font-weight: 200;
  border-radius: 4px;
  padding: 0px 6px;
  display: inline-block;
  color: white;
  background-color: #949494;
  letter-spacing: 2px;
}

@media (max-width: 600px), (min-width: 601px) and (max-width: 850px) {
  section .content-left h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  section .content-left {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

section .content-right {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 600px) {
  section .content-right {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-top: 40px;
  }
}

section p {
  max-width: 500px;
  margin-top: 20px;
  line-height: 2rem;
  font-size: large;
}

@media (max-width: 600px) {
  section p {
    line-height: 1.7rem;
  }
}

hr {
  background: #eeeeee;
  border: none;
  height: 10px;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  margin: 30px auto;
}

.dots span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #575757;
}

.firstshow h2 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: toggleH2 1s forwards;
          animation: toggleH2 1s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.secoundshow h2 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: toggleH2 1s forwards;
          animation: toggleH2 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes toggleH2 {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes toggleH2 {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.bg-box {
  position: absolute;
  bottom: -50%;
}

.box1 {
  left: 10%;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: #e77b3d;
  opacity: 0.3;
  animation: movefrombottom 25s linear infinite, moverotate 10s linear infinite reverse;
}

.box2 {
  width: 150px;
  left: 50%;
  height: 150px;
  border-radius: 50px;
  background-color: #e77b3d;
  opacity: 0.2;
  -webkit-animation: movefrombottom 50s linear infinite, moverotate 20s linear infinite;
          animation: movefrombottom 50s linear infinite, moverotate 20s linear infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.box3 {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  left: 25%;
  background-color: #e77b3d;
  opacity: 0.5;
  -webkit-animation: movefrombottom 35s linear infinite, moverotate 6s linear infinite;
          animation: movefrombottom 35s linear infinite, moverotate 6s linear infinite;
}

.box4 {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  right: 10%;
  background-color: #e77b3d;
  opacity: 0.2;
  -webkit-animation: movefrombottom 22s linear infinite, moverotate 12s linear infinite;
          animation: movefrombottom 22s linear infinite, moverotate 12s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes movefrombottom {
  from {
    bottom: -200px;
  }
  to {
    bottom: 110vh;
  }
}

@keyframes movefrombottom {
  from {
    bottom: -200px;
  }
  to {
    bottom: 110vh;
  }
}

@-webkit-keyframes moverotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes moverotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.keep-scrolling {
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.keep-scrolling span:nth-child(1) {
  display: block;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: smaller;
}

.keep-scrolling span:nth-child(2) {
  position: absolute;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: movescroll infinite alternate 1s;
          animation: movescroll infinite alternate 1s;
}

@-webkit-keyframes movescroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes movescroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.background-tr {
  position: absolute;
  z-index: -1;
  left: -100px;
  top: -80px;
  width: 400px;
  height: 400px;
  opacity: 0.4;
}

.background-tr1 {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 400px;
  height: 400px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: -1;
  opacity: 0.3;
}

header {
  position: fixed;
  z-index: 11;
  padding: 20px 15px;
  top: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #logo {
  width: 48px;
  fill: #3D73E7;
}

@media (max-width: 600px) {
  header #logo {
    width: 32px;
  }
}

header h3 {
  font-weight: 200;
  font-size: 1.2em;
}

header h3 a:hover {
  color: #e77b3d;
}

header h1 {
  font-size: 2em;
  color: #3d73e7;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.5em;
  }
}

.content-left {
  text-align: left;
}

@media (max-width: 600px) {
  .content-left {
    width: 95%;
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  .content-left {
    width: 85%;
  }
}

.content-left .hide {
  overflow: hidden;
}

.content-left h2 {
  font-weight: 100;
  font-size: 50px;
  color: #3d73e7;
}

.content-left h2 span {
  background-color: #575757;
  color: #fafafa;
  padding: 0px 2px;
}

@media (max-width: 600px) {
  .content-left h2 {
    font-size: 35px;
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  .content-left h2 {
    font-size: 45px;
  }
}

.content-left button {
  opacity: 1;
  margin-top: 35px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #575757;
  color: #575757;
  font-weight: 550;
  cursor: pointer;
  font-size: 15px;
  border-radius: 30px;
  padding: 7px 25px;
  outline: none;
  line-height: 20px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (max-width: 600px) {
  .content-left button {
    font-size: 10px;
    padding: 5px 20px;
    border: 2px solid #575757;
    margin-top: 20px;
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  .content-left button {
    font-size: 15px;
    padding: 7px 25px;
  }
}

.content-left button:hover {
  color: #e77b3d;
  border: 3px solid #e77b3d;
}

.mypic {
  width: 200px;
  position: relative;
  height: 200px;
  border-radius: 50px;
  display: inline-block;
  background-image: url("../../assets/me.jpg");
  background-size: cover;
}

@media (max-width: 600px) {
  .mypic {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    display: none;
  }
}

.mypic::before {
  top: 7px;
  left: 7px;
  width: 200px;
  height: 200px;
  z-index: -1;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  background: #575757;
  content: '';
}

@media (max-width: 600px) {
  .mypic::before {
    width: 100px;
    height: 100px;
    border-radius: 25px;
  }
}

.project-img {
  min-width: 300px;
  min-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mockup {
  background-image: url("../../assets/mockup.png");
}

.mockup2 {
  background-image: url("../../assets/mockup2.png");
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  letter-spacing: 5px;
}

@media (max-width: 600px) {
  footer {
    font-size: 30px;
  }
}

footer svg {
  display: block;
  width: 35px;
  height: 35px;
}

@media (max-width: 600px) {
  footer svg {
    width: 30px;
    height: 30px;
  }
}

footer svg:hover {
  fill: #e77b3d;
}

footer a:hover {
  color: #e77b3d;
}

.contact {
  background-color: #eeeeee;
  min-height: initial;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 10% 20px 10%;
}

@media (max-width: 600px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .content-left {
  padding-right: 30px;
}

@media (max-width: 600px) {
  .contact .content-left {
    text-align: center;
    padding-right: initial;
  }
}

.contact .content-right {
  font-size: larger;
  text-align: left;
  max-width: 50%;
}

@media (max-width: 600px) {
  .contact .content-right {
    max-width: 100%;
  }
}

.contact h2 {
  font-size: 2rem;
  display: block;
  -webkit-text-decoration: underline #e77b3d 5px;
          text-decoration: underline #e77b3d 5px;
}
/*# sourceMappingURL=main.css.map */