@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
}
body{
    background-color: rgb(37, 43, 44);
    font-family: 'Rubik', sans-serif;
    color: rgb(230, 230, 230);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 8vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgb(38, 50, 56);
    /*box-shadow: 0px 2px 3px rgb(29,45,68, 0.3);*/
}
header h1{
    text-indent: 0;
}
#button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
#button div{
    width: 100%;
    height: 5px;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    transition-duration: 1s;
}
#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 92vh;
    background-color: rgb(38, 50, 56, 0.9);
    box-shadow: 0 2px 2px rgba(48, 45, 54, 0.2);
    position: fixed;
    z-index: 55;
    list-style: none;
    text-align: center;
    font-size:1.3em;
    letter-spacing: 3px;
    top:8vh;
    left: 0px;
    transform: translateX(-100%);
    transition: 1s;
}
#menu li{
    padding:10px;
}
.contact{
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 235, 59, 0.87);
    position: fixed;
    z-index: 200;
    font-size: 1.2em;
    height: 50px;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(60px) rotate(-90deg)
}
.bg-home{
    background-image: url("blank-page-cereal-coffee-688666.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.bg-home::after{
    top: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 44, 0.5);
}
.bg-home h2{
    position: absolute;
    z-index: 11;
    text-align: center;
    font-size: 2.5em;
    color: rgb(249, 250, 255);
    top: 50vh;
    right: 50%;
    transform: translate(50%, -50%);
    text-shadow:0px 1px 2px rgba(248, 245, 245, 0.2);
    animation: h2home 2s forwards;
    animation-delay: 1s;
    opacity: 0;
}
.bg-home h2 span{
    display: block;
    font-size: 0.6em;
    color: rgb(245, 246, 250);
}
@keyframes h2home{
    0%{
        transform: translate(50%, -100%);
        opacity: 0;
    }
    100%{
        transform: translate(50% ,-50%);
        opacity: 1;
    }
}
.bg-home i{
    position: absolute;
    z-index: 12;
    color: rgb(253,240,246);
    bottom: 20px;
    font-size: 1.9em;
    right: 50%;
    animation-name: arrowDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes arrowDown{
    0%{
        transform: translateY(-10px) translateX(50%);
    }
    50%{
        transform: translateY(5px) translateX(50%);
    }
    100%{
        transform: translateY(-10px) translateX(50%);
    }
}
.page{
    position: relative;
}
.neta{
    margin: auto;
    margin-top: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: url("netta.jpeg");
    background-position: center;
    background-size: cover;
}
h3{
    margin-top: 60px;
    font-size: 2em;
    color: rgb(255, 235, 59);
    position: relative;
    text-align: center;
}
p{
    margin: 20px auto;
    font-size: 1.2em;
    text-align: center;
    width: 50%;
}
.order{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.one{
    width: 80%;
    height: 100px;
    background-color: #3d3d3d;
    margin: 12px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
@media screen and (min-width: 800px){
    #button{
        display: none;
    }
    #menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 0;
    background-color: rgb(38, 50, 56, 0.9);
    box-shadow: 0 2px 2px rgba(48, 45, 54, 0.2);
    position: relative;
    z-index: 55;
    list-style: none;
    text-align: center;
    font-size:1.2em;
    letter-spacing: 3px;
    top:0;
    left: 0px;
    transform: translateX(0);
    }
}