.point:hover{
    border: rgb(61, 115, 231) solid 15px;
    transition: 0.5s;
}
.socialmedia{
    i:hover{
        color: rgb(231, 123, 61);
    }
}
.quote{
    button:hover{
        border: rgb(231, 123, 61) solid 3px;
        color: rgb(231, 123, 61);
    }
}

// ------------------

.firstshow h2{
    transform: translateY(100%);
    animation: showup 1.3s forwards;
    animation-delay: 1.3s;
    
}
.secoundshow h2{
    transform: translateY(-100%);
    animation: showup 1.3s forwards;
    animation-delay: 3s;
}
.quote{
    animation: showquote 2s forwards;
    animation-delay: 3.8s;
    opacity: 0;
}
@keyframes showup{
    100%{
        transform: translateY(0%);
    }
}
@keyframes showquote{
    100%{
        opacity: 1;
    }
}