a{
    color: white;
    text-decoration: none;
}
.point:hover{
    border: rgb(55, 159, 201) solid 15px;
    transition: 0.5s;
}
.firstshow h2{
    transform: translateY(100%);
    animation: showup 1.3s forwards;
    animation-delay: 1.3s;
    
}
.secoundshow h2{
    transform: translateY(-100%);
    animation: showup 1.3s forwards;
    animation-delay: 3s;
}
.quote{
    animation: showquote 2s forwards;
    animation-delay: 3.8s;
    opacity: 0;
}
@keyframes showup{
    100%{
        transform: translateY(0%);
    }
}
@keyframes showquote{
    100%{
        opacity: 1;
    }
}