* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto Slab', sans-serif;
  color: #575757;
}

body {
  background-color: #fafafa;
  position: relative;
}

body hr {
  background-color: #e0e0e0;
  border: 0px;
  position: absolute;
  z-index: 0;
  left: 50%;
  width: 1px;
  height: 100%;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

#about {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fdf8f3;
  z-index: 99;
  overflow: auto;
}

#resume {
  width: 60%;
  height: 100%;
  margin: auto;
  background-color: #fdf8f3;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  padding: 40px;
  text-align: center;
}

#resume p {
  margin-top: 40px;
  text-align: left;
  font-size: 20px;
}

#closeabout {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 110;
  cursor: pointer;
}

#closeabout div {
  width: 40px;
  height: 5px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

#closeabout div::after {
  content: '';
  width: 40px;
  height: 5px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

h3 {
  font-weight: 200;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  color: #3d73e7;
}

h2 {
  color: #3d73e7;
}

h2 span {
  background-color: #575757;
  color: #fafafa;
}

h4 {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
}

h4 span {
  font-size: 35px;
}

.content {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
}

.hide {
  overflow: hidden;
}

.quote {
  text-align: center;
  position: relative;
  top: 55px;
  font-size: 30px;
  font-style: italic;
}

.quote button {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #575757;
  color: #575757;
  font-weight: 550;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px 40px;
  outline: none;
  line-height: 30px;
}

h2 {
  font-weight: 100;
  font-size: 50px;
}

footer {
  position: fixed;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}

.page-indicator {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30%;
}

.point {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid #575757;
}

.point-on {
  border: #3d73e7 6px solid;
}

.socialmedia {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 35px;
  padding-left: 30%;
}

#pages {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 1s;
  transition: 1s;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 35px;
  }
  h4 {
    margin-top: 50px;
    font-size: 32px;
  }
  h4 span {
    font-size: 25px;
  }
  .quote {
    font-size: 20px;
  }
  .quote button {
    margin-top: 25px;
    font-size: 15px;
    padding: 8px 35px;
    line-height: 25px;
  }
  footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 85%;
  }
  .page-indicator {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 20%;
  }
  .point {
    position: relative;
    width: 25px;
    height: 25px;
  }
  .socialmedia {
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 28px;
    padding-left: 20%;
  }
  #resume {
    width: 90%;
    padding: 30px;
    text-align: center;
  }
  #resume p {
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */