* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #d1d1d1;
}

body {
  background-image: url("../background2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

#about {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #bdbdbd;
  z-index: 99;
}

#resume {
  width: 60%;
  height: 100%;
  margin: auto;
  background-color: #bdbdbd;
  border-right: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  padding: 20px;
  text-align: center;
}

#closeabout {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#closeabout div {
  width: 50px;
  height: 5px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

#closeabout div::after {
  content: '';
  width: 50px;
  height: 5px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

h3 {
  font-weight: 200;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  color: #379fc9;
}

h2 {
  color: #379fc9;
}

h2 span {
  background-color: #379fc9;
  color: #363636;
}

h4 {
  font-size: 50px;
  font-weight: 200;
  text-align: left;
}

h4 span {
  font-size: 40px;
}

.content {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
}

.hide {
  overflow: hidden;
}

.quote {
  text-align: center;
  position: relative;
  top: 55px;
  font-size: 30px;
  font-style: italic;
}

.quote button {
  background-color: #d1d1d1;
  border: 3px solid red;
  border-radius: 20px;
  padding: 10px 50px;
}

.me {
  background-image: url("me.jpg");
  background-size: cover;
  position: absolute;
  right: 15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
  height: 200px;
}

h2 {
  font-weight: 100;
  font-size: 50px;
}

footer {
  position: fixed;
  bottom: 25px;
  left: 50%;
  padding: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.msg {
  position: absolute;
  -webkit-transform: translate(-50%, -40px);
          transform: translate(-50%, -40px);
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  padding: 5px 20px;
  width: 150px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.msg div {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: white;
}

.point {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid #d1d1d1;
}

.point-on {
  border: #d1d1d1 6px solid;
}

#pages {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 1s;
  transition: 1s;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */