footer{
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.page-indicator{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 30%;
}
.point{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid $color1;
    &-on {border: $color2 6px solid;}
}
.socialmedia{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    padding-left: 30%;
}
@media ($bp1){
    footer {bottom: 10px; width: 95%;}
    .page-indicator {padding-right: 10%;}
    .socialmedia {font-size: 23px; padding-left: 10%}
    .point {width: 23px; height: 23px;}
}
@media ($bp2-min) and ($bp2-max){
    footer {bottom: 20px;}
    .page-indicator {padding-right: 20%}
    .point {width: 25px; height: 25px;}
    .socialmedia {font-size: 28px; padding-left: 20%;}
}