header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
h3{
    font-weight: 200;
    font-size: 1.2em;
}
h1{
    font-size: 2em;
    color: $color2;
}
@media ($bp1){
    header {padding: 10px;}
    h1 {font-size: 20px;}
}