#projects .content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    @media #{$bp2}{
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
    }
    @media ($bp1){
        flex-direction: column;
    }
    h1{
        @media #{$bp2}{
            font-size: 25px;
        }
        span{
            font-weight: 500;
            color: $color1;
            margin-right: 10px;
            position: relative;
            font-size: 1.5em;
            &::after{
                content: '1';
                position: absolute;
                font-size: 2.5em;
                bottom: -20px;
                left: -40px;
                color: rgba(0, 0, 0, 0.081);
                @media ($bp1){
                    left: -10px;
                }
            }
            &::before{
                position: absolute;
                content: '';
                width: 145px;
                height: 7px;
                background-color: $color4;
                bottom: 0px;
                left: 30px;
                @media #{$bp2}{
                    width: 120px;
                    height: 5px;
                    left: 24px;
                }
                @media ($bp1){
                    width: 90px;
                    height: 3px;
                    left: 22px;                    
                }
            }
        }
    }
    .extra-desc{
        margin: 15px 0px;
        font-weight: 100;
        font-size: 1.5em;
        color: rgb(180, 180, 180);
        @media #{$bp2}{
            font-size: 1.2em;
        }
        @media ($bp1){
            font-size: 1em;
        }
    }
    .desc{
        font-size: 17px;
        @media #{bp2} {
            font-size: 15px;            
        }
        @media ($bp1){
            font-size: 15px;
        }
    }
    img{
        width: 70%;
        @media ($bp1){
            width: 150px;
        }
        @media #{$bp2}{
            width: 190px;
        }
    }
}