footer{
    text-align: center;
    margin-top: 30px;
    // position: fixed;
    // z-index: 10;
    // top: 200px;
    // bottom: 10px;
    // right: 0px;
    // right: 20px;
    // transform: translateX(-50%);
    // width: 50%;
    font-size: 35px;
    letter-spacing: 5px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: flex-start;
    @media #{$bp1}{ font-size: 30px;}
    // @media #{$bp2}{ bottom: 20px; width: 75% }
    svg{
        display: block;
        width: 35px;
        height: 35px;
        @media #{$bp1}{ width: 30px; height: 30px}
        &:hover{
            fill: $color4;
        }
    }
    a:hover{
        color: $color4;
    }
}
.contact{
    background-color: rgb(238, 238, 238);
    min-height: initial;
    align-items: flex-start;
    padding: 50px 10% 20px 10%;
    @media #{$bp1}{
        flex-direction: column;
    }
    .content-left{
        padding-right: 30px;
        @media #{$bp1}{ text-align: center;padding-right: initial}
    }
    .content-right{
        font-size: larger;
        text-align: left;
        max-width: 50%;
        @media #{$bp1}{
            max-width: 100%;
        }
    }
    h2{
        font-size: 2rem;
        display: block;
        text-decoration: underline $color4 5px;
    }

}