header{
    position: fixed;
    z-index: 11;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    display: flex;
    justify-content: space-between;
    @media #{$bp1} { width: 95%; top: 20px } 
    @media #{$bp2} { width: 95%; top: 20px } 

    #logo{
        width: 48px;
        fill: #3D73E7;
        @media #{$bp1} {width: 32px}
    }
    h3{
        font-weight: 200;
        font-size: 1.2em;
        a:hover{
            color: $color4;
        }
    }
    h1{
        font-size: 2em;
        // text-indent: -9999px;
        // background-image: url('../../YS\ LOGO.png');
        color: $color2;
        @media #{$bp1} {font-size: 1.5em;}
    }
}