.background-tr{
    position: absolute;
    z-index: -1;
    left: -100px;
    top: -80px;
    width: 400px;
    height: 400px;
    opacity: 0.4;
}
.background-tr1{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 400px;
    height: 400px;
    transform: rotate(90deg);
    z-index: -1;
    opacity: 0.3;
}