$color1: rgb(87, 87, 87);
$color2: rgb(61, 115, 231);
$color3: #fafafa;
$color4: rgb(231, 123, 61);

$bp1: '(max-width: 600px)';
$bp2: '(min-width: 601px) and (max-width: 850px)';
$bp3: 'min-width: 751px';

*{padding: 0px; margin: 0px; box-sizing: border-box;}
body {
    font-family: 'Roboto Slab', sans-serif; color: $color1; background: $color3;
    -ms-overflow-style: none;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: rgb(87, 87, 87);
}
#fullpage{
    position: absolute;
    width: 100%;
    .section{
        min-height: 100vh;
        position: relative;
    }
}